@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* scrollbar Style */

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: white black;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: black;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid black;
  }

  /* scrollbar Style */


body {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    background-color: black;
}
#scrollbar {
    height: 100vh;
    width: 20vw;
    background-color: black;
    color: white;
    overflow-y: scroll;
}
#scrollbar p {
    margin: 15px 0;
    line-height: 20px;
}
main {
    width: 80vw;
    position: relative;
}
#refresh {
    background-color: black;
    position: absolute;
    top: 25%;
    left: calc(50% - 83px);
    height: auto;
    color: white;
    border-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 62px 6px rgba(255, 255, 255, 0.75);
    transition-duration: 0.5s;

    display: none;
}
#refresh:hover {
    box-shadow: 0px 0px 62px 20px rgba(255, 255, 255, 0.75);
    transition-duration: 0.5s;
}
#refresh a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.upperPart {
display: flex;
justify-content: center;
align-items: center;
color: white;
background-color: black;
height: 15vh;
font-size: 40px;
}
.upperPart h1 {
    text-shadow: 0px 0px 32px rgba(255,255,255,1);
    font-weight: bold;
}


#countdown {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: none;
}

.gameField {
    display: flex;
    width: auto;
}
.gameField article {
    width: 50%;
}
.gameField #playerSide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: black;
}
.gameField #playerSign {
    display: none;
    width: 60%;
    text-align: center;
    margin: 20px 0;
}
.gameField #playerSide button{
    margin: 10px 20px;
    background-color: black;
    width: 20%;
    border: none;
    
}
.gameField #playerSide button:hover {
    cursor: pointer;
}
.gameField #playerSide button img{
    width: 100%;
}

.gameField #iaSide {
    height: 60vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameField #signIA{
    width: 60%;
}

footer {
    background-color: black;
    color: white;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#sentence {
    text-shadow: 0px 0px 32px rgba(255,255,255,1);
}
#score {
    margin-top: 20px;
}

@media (max-width: 992px) {
    .gameField #playerSide {
        flex-direction: column;    
    }
}

@media (max-width: 768px) {

    body {
        flex-direction: column-reverse;
    }
    .upperPart {
        width: 100vw;
    }
    #scrollbar {
        width: 96vw;
        height: 20vh;
        padding:0 0 0 10px;
    }
    main {
        width: 100vw;
    }
    footer {
        height: 15vh;
    }
    .gameField #playerSide,
    .gameField #iaSide{
        height: 50vh;
    }
    .gameField #playerSide {
        flex-direction: column;    
    }
    .gameField #playerSide button{
        width: 50%;
    }
    footer {
        font-size: 20px;
    }
    aside p {
        font-size: 10px;
    }
}